:root {
    --red: rgb(227,53,13);
    --blue: rgb(27,83,186);
    --yellow: rgb(255,204,5);
    --green: rgb(0, 128, 0);

    --red-hover: rgb(190, 44, 11);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.wrapper {
    max-width: 1140px;
    margin: 0 auto;
    min-height: 100vh;
    border-left: 1px solid black;
    border-right: 1px solid black;
}


.header {
    margin-top: 1rem;
    background-color: var(--red);
    color: var(--yellow);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    
    .header__title {
        font-size: 2.5rem;
        background-color: var(--blue);
        padding: .5rem;
        border-radius: 10px;
    }
    
    .header__menu {
        display: flex;
        list-style-type: none;
        
        .header__menu-item {
            padding: 1rem;
            font-size: 1.25rem;
            font-weight: 600;
            cursor: pointer;
            border-radius: 10px;
        }

        .header__menu-item:hover {
            background-color: var(--red-hover);
        }
    }
}

.section {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .section__form {
        display: flex;
        gap: 1rem;

        .section__form-label {
            flex: 2;
            display: flex;
            flex-direction: column;
            
            .section__form-select,
            .section__form-input {
                padding: 1rem;
            }
        }

        .section__form-button {
            flex: 1;
            padding: 1rem;
            align-self: flex-end;
        }
    }

    .section__pkmn-container {
        

        .card {
            
            .card__top {  

                .card__image {
                    
                }
                .card__index {
                    
                }
            }
            .card__middle {
                

                .card__name {
                    
                }

                .card__type {
                    
                }
            }

            .card__bottom {
                

                .card__stat {
                    
                }

                .card__stat--span-two {
                    
                }
            }
        }
    }
}

.d-none {
    display: none;
}